# Gradle
.gradle/
build/
/captures
.externalNativeBuild
reports/
.cxx/

# Android Studio
*.iml
.idea/

# MacOS
.DS_Store

# Local
local.properties
login.properties

#kotlin K2 files : https://kotlinlang.org/docs/whatsnew-eap.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin
